---
layout: base
---

{% include header.html type="page" %}

<div class="container-md" role="main" style="max-width: 100vh">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
      {{ content }}
    </div>
	 <div class="flex-row trs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto grow">
                        <a href="/raspberry-pi" class="card border-0 shadow-lg">
                            <div class="card-body d-flex align-items-center flex-column text-center">
                                <h4>Raspberry Pi</h4>
                                <img src="/assets/img/raspberry-tutorials.png"></img>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto grow">
                        <a href="/ethical-hacking" class="card border-0 shadow-lg grow">
                            <div class="card-body d-flex align-items-center flex-column text-center">
                                <h4>Ethical hacking & Cybersecurity tools</h4>
                                <img src="/assets/img/ethical-hacking-tutorials.png"></img>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto grow">
                        <a href="/programming" class="card border-0 shadow-lg">
                            <div class="card-body d-flex align-items-center flex-column text-center">
                                <h4>Programming</h4>
                                <img src="/assets/img/programming-tutorials.png"></img>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
       </div>
  </div>
</div>
